h1{text-align: center;}

.ball {
    text-align: center;
    background: lightgreen;
    border-radius: 50%;
    width: 16px;
    padding: 16px;
    display: inline-block;
    margin: 5px;
}