h2{text-align: center;}

.nav1 {
    border: 1px solid black;
    display: flex;
    flex-direction:row;
    justify-content: space-around;

}
div{width:300px;
    height:300px;
    border: 1px solid black;
}

.div1{
    background: cornflowerblue;
}

.div2{
    background: rgb(129, 18, 133);
}

.div3{
    background: rgb(47, 158, 25);
}


@media(max-width:700px){
    body{background: cyan;}
    .div1{background: darkmagenta;}
    .div2{background: rgb(96, 168, 93);}
    .div3{background: rgb(81, 52, 163);}
}