h2{text-align: center;}



.nav1 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:800px;
}
div{
    border: 1px solid black;
    width:300px;
    height:200px;
}

.div1{
    background: rgb(103, 223, 183);
}

.div2{
    background: rgb(129, 18, 133);
}

.div3{
    background: rgb(47, 158, 25);
}


@media(max-width:800px){
body{background: cornflowerblue;}
}

@media(max-width:319px){
body{background: cornflowerblue;}
.nav1{border:0px;}
}

@media(min-width:1000px){
    body{background:rgb(180, 30, 30);}
}