body{background: darksalmon;}
h2{text-align: center;}

.nav1 {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;

}
div{border: 1px solid black;
}

.div1{
    background: cornflowerblue;
}

@media(max-width:400px){
    body{background: cyan;}
    .div1{background: darkmagenta;
        text-align: center;}
    
}