body {
    background: darksalmon;
}

h2 {
    text-align: center;
}

.nav1 {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

div {
    border: 1px solid black;
}

.div1 {
    background: cornflowerblue;
}

.div2 {
    background: rgb(59, 172, 83);
}

@media(max-width:600px) {
    body {
        background: cyan;
    }
    .div1 {
        background: darkmagenta;
        text-align: center;
    }
    .div2{background: darkorange;
    text-align: center;}
}